:root {
	--principal-orange: #ff4800;
	--second-orange: #fda880;
	--third-orange: #d35527;
	--principal-purple: #940073;
	--second-purple: #c483b4;
	--third-purple: #6e1159;
	--principal-yellow: #cf9a36;
	--second-yellow: #ecdca5;
	--white: #feffff;
	--ultraLighit-grey: #f6f8fa;
	--light-grey: #d0d0d0;
	--medium-grey: #5b5c5c;
	--black: #242526;
}

.menu_container {
	max-width: 1200px;
}

.menu_links {
	height: 100%;
	transition: transform 0.5s;
	display: flex;
}

.menu_desplegable {
	display: none;
}
